/***** Colors *****
 *
 * http://paletton.com/#uid=75g110kqsoWhjtzlNqEsWlDwXiE
 *
 * #c65b8c (lighter magenta)
 * #7d0039 (darker magenta)
 *
 * #a8d863 (light green)
 *
 * refactor to :root{ --varNAme }
 * then inline var(--varName)
 *
 */

/***** body *****/

body {
  background-color: #edf7df;
  padding: 75px;
}

a {
  color: #c65b8c;
}

a:hover {
  cursor: pointer;
  color: #7d0039;
}

/***** navbar *****/

/* Override what bootstrap is trying to do with
 * navbar-brand when no link exists */
a:not([href]):not([tabindex]) {
  color: #a8d863;
}

a:not([href]):not([tabindex]):hover {
  color: #a8d863;
}

.navbar {
  background-color: #7d0039;
}

.navbar-light .navbar-brand,
.navbar-light .nav-item .nav-link {
  color: #a8d863;
}

.navbar-light .navbar-brand:hover,
.navbar-light .nav-item .nav-link:hover {
  color: #c65b8c;
}

.navbar-toggler {
  background-color: #a8d863;
}

.padded-paragraph {
  margin: 20px 0px;
}

/***** Home *****/

.mattie-avatar {
  height: 150px;
  width: 150px;
}

.mattie-avatar-lg {
  height: 200px;
  width: 200px;
}

.mattie-avatar-xl {
  height: 250px;
  width: 250px;
}

.heading-color-accent {
  color: #c65b8c;
}

h1 {
  font-size: 250%;
}

.weak {
  color: #c4aeb8;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

/***** Bio *****/

.fun-fact {
  margin: 0 0 5px 0;
}

/***** FAQ *****/

.faq-question {
  font-weight: bold;
}

/***** Resume *****/

.resume-heading {
  margin-top: 40px;
}

/***** Games *****/

.img-expand-max {
  width: 100%;
  max-width: 600px;
}

/***** Vue *****/
[v-cloak] {
  display: none;
}
